.bottomButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottomButton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bottomButton:hover > img {
    top: -10px;
}

.bottomButton > img{
    height: 60px;
    width: 60px;
    top: 0px;
    position: relative;
    transition-property: top;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.bottomButton > h3{
    margin-top: 0;
    font-weight: normal;
}

.bottomButtons .invertArrow:hover > img{
    top: 10px;
}

@media only screen and (max-width: 600px) {

    .bottomButton > h3{
        font-size: 1.25rem;
        white-space: normal;
        text-align: center;
    }

    .bottomButtons{
        align-items: flex-start;
    }

}