.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #812B2B;
    height: 75px;
    margin: 0;
}

.navbarLeftContainer{
    display: flex;
    align-items: center;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
}

.navbarImg{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbarImg > img{
    width: 75px;
    height: 75px;
}

.navbar a{
   font-family: SquareAntiqua;
   font-size: 1rem;
}