.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #812B2B;
    height: 75px;
    margin: 0;
}

.navbarLeftContainer{
    width: 50%;
}

.navbarRightContainer{
    margin-right: 10px;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 90%;
}

.navbarContainer > a{ 
    color: #D2F1E4;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 10px;
    min-width: 150px;
}

.navbarContainer a > img{
    height: 50px;
    width: 50px;
}

.navbarContainer > a:hover{
    background-color: #C75757;
}

.navbarImg{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbarImg > img{
    width: 75px;
    height: 75px;
}