.overviewContainer{
    display: flex;
    justify-content: center;
    border: 1px;
    border-style: solid;
}

.left{
    padding-left: 10px;
}

.right{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
    text-align: center;
}

.right > img{
    border-radius: 100%;
}

.right > a{
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    max-width: 50%;
}

h3{
    font-size: 1.5rem;
    white-space: nowrap;
}