.projectContainer{
    display: flex;
    background-color: #E8E5F0;
    justify-content: space-between;
    margin-bottom: 25px;
}

.projectLeft{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    align-self: flex-start;
}

.projectLeft > p{ /** Needs to be changed later from a different style sheet*/
    max-width: 100%;
    margin-top: 0;
}

.projectCenter{
    margin-left: 25px;
}

.projectCenter > p{
    max-width: 90%;
}

.projectRight{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 25px;
}

.projectRight > button{
    background-color: #812B2B;
    color: white;
    margin: 25px 0px;
}

.arrowButton{
    opacity: 0.9;
}

.arrowButton:hover{
    opacity: 0.6;
    cursor: pointer;
}

.arrowButton:active{
    opacity: 1;
}

.sidebarArrows{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 1.3rem;
    text-align: center;
    font-family: Piazzollo;
}

.sidebarArrows:hover > img{
    left: -10px;
}

.sidebarArrows > img{
    height: 60px;
    width: 60px;
    position: relative;
    left: 0;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

