.projectContainer{
    display: flex;
    background-color: #E8E5F0;
    justify-content: space-between;
    margin-bottom: 25px;
}

.projectLeft{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    align-self: flex-start;
}

.projectLeft > p{ /** Needs to be changed later from a different style sheet*/
    max-width: 100%;
    margin-top: 0;
}

.projectCenter{
    margin-left: 25px;
}

.projectRight{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 25px;
}

.projectRight > button{
    background-color: #812B2B;
    color: white;
    margin: 25px 0px;
}

.projectTextPortion{
    display: flex;
}

.arrowButton{
    opacity: 0.9;
}

.arrowButton:hover{
    opacity: 0.6;
    cursor: pointer;
}

.arrowButton:active{
    opacity: 1;
}

.sidebarArrows{
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 1.3rem;
    text-align: center;
    font-family: Piazzollo;
}

.sidebarArrows:hover > img{
    left: -10px;
}

.sidebarArrows > img{
    height: 60px;
    width: 60px;
    position: relative;
    left: 0;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}


@media only screen and (max-width: 1300px){
    .projectContainer{
        flex-wrap: wrap;
        justify-content: center;
    } 

    .projectCenter{
        width: 100%;
    }
    
    .projectRight{
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        width: 100%;
    }

    .projectCenter > p{
        max-width: 90%;
        align-self: center;
    }

    .projectTextPortion{
        justify-content: space-between;
    }
}


@media only screen and (max-width: 650px) {
    .projectContainer{
        flex-wrap: wrap;
        justify-content: center;
    }    

    .projectLeft{
        margin: 0;
    }

    .projectCenter{
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .projectCenter > p{
        max-width: 90%;
        align-self: center;
    }

    .projectCenter > h2{
        text-align: center;
        margin-bottom: 0px;
    }

    .projectRight{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
    }

    .projectTextPortion{
        flex-direction: column;
    }
}