.slideshowContainer{
    display: flex;
    align-items: center;
}

.slideshowImageContainer{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slideshowImageContainer > img{
    height: 200px;
}

.slideshowImageContainer > img:hover{
    cursor: pointer;
}

.slideshowLeftArrow{
    height: 50px;
    width: 50px;
    position: relative;
    left: 0px;
    transition: left 0.3s ease-out;
}

.slideshowLeftArrow:hover{
    left: -3.5px;
}

.slideshowLeftImage{
    width: 100px;
    height: 200px;
    overflow: hidden;
    
}

.slideshowLeftImage > img{
    height: 200px;
}

.slideshowRightArrow{
    height: 50px;
    width: 50px;
    position: relative;
    right: 0px;
    transition: right 0.3s ease-out;
}

.slideshowRightArrow:hover{
    right: -3.5px;
}

/** Below is the alt layout styles 
    All they define is dimension changes
*/


/** the following controls the height of all image containers of alt project layout */
.imageSlideshowHeight{
    height: 400px;
}

.imageSlideshowHeight > img{
    height: 400px;
}

.altImageSlideshowHeight{
    height: 350px;
}

.altImageSlideshowHeight > img{
    height: 350px;
}

.imageContainerStyles {
    width: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imageContainerStyles > img:hover{
    cursor: pointer;
}

.altImageContainerStyles {
    width: 350px;
}

.adjacentContainerStyles{
    width: 200px;
    overflow: hidden;
}

.altAdjacentContainerStyles{
    width: 175px;
    overflow: hidden;
}

.arrowStyles{
    width: 100px;
    height: 100px;
}

.altArrowStyles{
    width: 75px;
    height: 75px;
}



/** media handles */
@media only screen and (max-width: 1150px)  {
    .imageSlideshowHeight{
        height: 350px;
    }

    .imageSlideshowHeight > img{
        height: 350px;
    }

    .imageContainerStyles{
        width: 350px;
    }

    .adjacentContainerStyles{
        width: 175px;
    }

    .arrowStyles{
        width: 75px;
        height: 75px;
    }
    
}

@media only screen and (max-width: 900px)  {
    *{
        background-color: blue;
    }
}

@media only screen and (max-width: 600px)  {
    *{
        background-color: red;
    }
}