img{ /* Note change this when finished**/
    height: 100px;
}

.slideshowContainer{
    display: flex;
    align-items: center;
}

.slideshowContainer > button{
    margin-left: 10px;
    margin-right: 10px;
}

.slideshowImageContainer{
    width: 200px;
    height: 200px;
    overflow: hidden;
    
}

.slideshowImageContainer > img{
    height: 200px;
}

.slideshowImageContainer > img:hover{
    cursor: pointer;
}

.slideshowLeftArrow{
    height: 50px;
    width: 50px;
    opacity: 0.9;
}

.slideshowLeftArrow:hover{
    opacity: 0.7;
    cursor: pointer;
}

.slideshowLeftArrow:active{
    opacity: 1;
}

.slideshowLeftImage{
    width: 100px;
    height: 200px;
    overflow: hidden;
    
}

.slideshowLeftImage > img{
    height: 200px;
}


.slideshowRightArrow{
    height: 50px;
    width: 50px;
    opacity: 0.9;
}

.slideshowRightArrow:hover{
    opacity: 0.7;
    cursor: pointer;
}

.slideshowRightArrow:active{
    opacity: 1;
}

.slideshowRightImage{
    width: 100px;
    height: 200px;
    overflow: hidden;
    
}

.slideshowRightImage > img{
    height: 200px;
}

