@media only screen and (max-width: 600px)  {
    .slideshowContainer{
        flex-direction: column;
    }
}

.slideshowContainer{
    display: flex;
    align-items: center;
}

.slideshowImageContainer{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slideshowImageContainer > img{
    height: 200px;
}

.slideshowImageContainer > img:hover{
    cursor: pointer;
}

.slideshowLeftArrow{
    height: 50px;
    width: 50px;
    position: relative;
    left: 0px;
    transition: left 0.3s ease-out;
}

.slideshowLeftArrow:hover{
    left: -3.5px;
}

.slideshowLeftImage{
    width: 100px;
    height: 200px;
    overflow: hidden;
    
}

.slideshowLeftImage > img{
    height: 200px;
}

.slideshowRightArrow{
    height: 50px;
    width: 50px;
    position: relative;
    right: 0px;
    transition: right 0.3s ease-out;
}

.slideshowRightArrow:hover{
    right: -3.5px;
}

/** Below is the alt layout styles 
    All they define is dimension changes
*/

.imageContainerStyles {
    height: 400px;
    width: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imageContainerStyles > img{
    height: 400px;
}

.imageContainerStyles > img:hover{
    cursor: pointer;
}

.imageStyles {
    height: 400px;
}

.altImageContainerStyles {
    height: 350px;
    width: 350px;
}

.altImageContainerStyles > img{
    height: 350px;
}

.adjacentContainerStyles{
    height: 400px;
    width: 200px;
    overflow: hidden;
}

.adjacentContainerStyles > img{
    height: 400px;
}

.altAdjacentContainerStyles{
    height: 350px;
    width: 175px;
    overflow: hidden;
}

.altAdjacentContainerStyles > img{
    height: 350px;
}

.arrowStyles{
    width: 100px;
    height: 100px;
}

.altArrowStyles{
    width: 75px;
    height: 75px;
}